:root {
    --primary-color: 26, 115, 232;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

button, a {
    border: none;
    outline: none;
    background-color: inherit;
    text-decoration: none;
    cursor: pointer;
}

input, textarea {
    border: none;
    outline: none;
    background-color: inherit;
    padding: 9px 15px;
    font-size: .9rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.dot {
    --size: 5px;
    cursor: pointer;
    padding: var(10px);
    position: relative;
}

.dot::before {
    content: "";
    display: block;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background-color: gray;
    transition: all 100ms ease;
}

.dot:hover {
    --size: 7px;
}
