.form-modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 1.2rem;
    box-shadow: 0 0 12px 0 #0000004f;
}

.form-modal::backdrop {
    background-color: #ffffff20;
    backdrop-filter: blur(2px);
}

.form-box {
    flex-direction: column;
}

.inputWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin: 15px 0;
}

.inputWrapper > div:first-child {
    height: 100px;
    width: 180px;
    overflow: hidden;
    border-radius: 5px;
    background-color: rgba(var(--primary-color), 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-box .inputWrapper:first-child {
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
}

.headerContent {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.headerContent > div:nth-child(2) {
    font-size: 14px;
}

.inputWrapper label,
.inputWrapper span {
    margin-bottom: 5px;
    font-size: 15px;
    transition: all 200ms ease-in-out;
}

.inputWrapper label {
    position: absolute;
    left: 15px;
    top: 7px;
    background-color: white;
}

.inputWrapper:has(input:focus-visible) label,
.inputWrapper:has(input:not(:placeholder-shown)) label,
.inputWrapper:has(textarea:focus-visible) label,
.inputWrapper:has(textarea:not(:placeholder-shown)) label {
    font-size: 10px;
    top: -7px;
    color: rgb(var(--primary-color));
}

.inputWrapper input,
.inputWrapper textarea {
    width: 400px;
    border: 1.5px solid gray;
    border-radius: 5px;
}
.inputWrapper input:focus-visible,
.inputWrapper textarea:focus-visible {
    border-color: rgb(var(--primary-color));
}

.file-name {
    width: 240px;
}

.modal-nav {
    margin-top: 15px;
    min-height: 1rem;
}

.modal-nav button {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-nav button:focus-visible {
    outline: 1px solid black;
    border-radius: 2px;
}

.modal-nav .left {
    margin-right: 5px;
}

.modal-nav .right {
    margin-left: 5px;
}

.dot {
    --size: 5px;
    --max-size: 7px;
    padding: 5px 3px;
    position: relative;
    width: var(--max-size);
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot:not(.active) {
    cursor: pointer;
}

.dot.active::before {
    background-color: rgb(var(--primary-color));
    --size: var(--max-size);
}

.dot::before {
    content: "";
    display: block;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background-color: gray;
    transition: all 100ms ease;
}

.dot:hover,
.dot:focus-visible {
    outline: none !important;
    --size: var(--max-size);
}

.submit {
    background-color: rgb(var(--primary-color));
    color: white;
    border-radius: 7px;
    font-size: 15px;
    padding: 7px 14px;
    position: absolute;
    bottom: 15px;
    left: 20px;
}
